<% if @article.errors.any? %>
  <h2>
  The following errors prevented article from being posted:
  </h2>
  <ol>
    <% @article.errors.full_messages.each do |error| %>
      <li>
        <i>
          <%= error %>
        </i>
      </li>
    <% end %>
  </ol>
<% end %>
