<fieldset>
  <p>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title, size:32, autofocus:true, placeholder: "Article title" %>
  </p>
  <p>
    <%= form.label :content %>
    <br>
    <%= form.text_area :content, size:"90x20", wrap:"soft", placeholder: "Article content goes here..." %>
  </p>
</fieldset>
