<fieldset>
  <p>
    <%= form.label :title, class: "form-label" %>
    <br>
    <%= form.text_field :title, size:32, autofocus:true, placeholder: "Enter article title", class: "form-control w-50 mx-auto" %>
  </p>
  <p>
    <%= form.label :content, class: "form-label" %>
    <br>
    <%= form.text_area :content, size:"0x10", wrap:"soft", placeholder: "Put your content here", class: "form-control  w-50 mx-auto" %>
  </p>
</fieldset>
