<main>
  <%= render 'shared/errors', obj: @article %>
  <%= render 'form' %>
  <div class="mb-3 w-50 mx-auto">
    <%= link_to "Cancel and back to articles list", articles_path, class: "btn btn-outline-secondary" %>
  </div>
</main>
<br>
