<main>
  <header class="text-center py-2 my-2">
    <h1 class="display-5 fw-bold">
    Edit your profile
    </h1>
  </header>
  <%= render 'shared/errors', obj: @user %>
  <%= render partial: 'form', locals: { new: false } %>
</main>

