<% if obj.errors.any? %>
  <div class="alert my-4 text-center rounded w-75 mx-auto">
    <ul class="list-group">
      <% obj.errors.full_messages.each do |error| %>
        <li class="list-group-item list-group-item-danger">
          <%= error %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

