<main>
  <h1 class="display-4 p-4 m-4 text-center">
    <%= @category.name %>
  </h1>
</main>
<nav class="px-4 py-2 my-4 text-center">
  <%= link_to "Back to categories list", categories_path, class:"btn btn-outline-primary" %>
</nav>
